@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Família @ViewData["Familia"]</p>

<address>
    <strong>More: </strong> <a href="http://Instagram.com">Instagram</a>
</address>